body {
  margin: 0;
  font-family: "Open Sans",sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #7251a7;
 /*background-image: linear-gradient(to bottom, #633174, #683281, #6c3490, #6f359e, #7038ae);*/
 /*background-color: #dfdfdf;*/
}
#root{
  height: 100vmin;

}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a:link{
  text-decoration: none;
  background-color : transparent;
  color: #dfdfdf;
}

a:visited{
  text-decoration: none;
  background-color : transparent;
  color: #dfdfdf;

}